.alert {
  --background: var(--color-text);
  --color: var(--color-background);
  --border: 0px;
  --border-radius: var(--element-radius);
  --padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0 1rem;
  padding: var(--padding);
  background: var(--background);
  color: var(--color);
  border: var(--border);
  border-radius: var(--border-radius);

  p {
    font-size: .9rem;
    margin: 0;
    vertical-align: middle;
  }

  svg {
    cursor: pointer;
  }
}