@mixin container($padding: var(--spacer-4), $width: 1700px) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 $padding;
}

@mixin row($columns: 3, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

@mixin fullBackground($background) {
  position: relative;
  background: $background;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    left: -9999px;
    right: 0;
    border-left: 9999px solid $background;
    box-shadow: 9999px 0 0 $background;
  }

  >* {
    position: relative;
    z-index: 2;
  }
}