// Don't modifiy this file directly, apply this mixin to html tag or class
@mixin button {
  --background: var(--color-text);
  --color: var(--color-background);
  --border: 0px;
  --border-radius: var(--element-radius);

  padding: 0.65rem 1rem;
  margin: 0 .5rem 1rem 0;
  background: var(--background);
  color: var(--color);
  font-size: 0.9rem;
  font-weight: 400;
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
.button {
  @include button;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.9;
  }

  svg {
    margin: 0 0.25rem 0 0;
  }
}