// Don't modifiy this file directly, apply this mixin to html tag or class
@mixin button {
  --background: var(--color-text);
  --color: var(--color-background);
  --border: 0px;
  --border-radius: 0px;

  padding: 0.5rem 1rem;
  background: var(--background);
  color: var(--color);
  border: var(--border);
  border-radius: var(--border-radius);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button, .button {
  @include button;
}

