// Don't modifiy this file directly, apply this mixin to html tag or class
@mixin input {
  --background: var(--c-white);
  --color: var(--c-black);
  --border: 1px solid var(--c-grey);
  --border-radius: var(--element-radius);

  display: block;
  width: 100%;
  padding: 0.5rem 0.65rem;
  margin: 0 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: var(--color);
  background-color: var(--background);
  background-clip: padding-box;
  border: var(--border);
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  border-radius: var(--border-radius);

  &[type="checkbox"],
  &[type="radio"],
  &[type="range"] {
    display: inline-block;
    width: auto;
    accent-color: var(--color-primary);
    cursor: pointer;

    &+label {
      display: inline-block;
      width: auto;
      margin: 0 0 1rem 0.5rem;
      vertical-align: top;
      cursor: pointer;
    }
  }

  &[disabled] {
    background: #e1e1e1;
    color: #898989;
  }

  &--error {
    border-color: var(--color-error);
  }

}

input,
.input,
textarea,
.textarea {
  @include input;

  font-family: var(--font-default) !important;

  // input error
  &+p:has(small) {
    transform: translateY(-0.75rem);
    margin: 0 0 0.25rem 0.1rem;
    color: var(--color-error);
  }
}

textarea {
  line-height: 1.5rem;
}